<div class="container-component">

    <div class="container-component-left"> 
        <app-aside [linkActive]="'Horario y Modalidad'"></app-aside>
    </div>
    
    <div class="container-component-right">
        
        <div class="text-right"><i class="fas fa-bars icon-menu-aside-right"></i></div>

        <div class="title-component-right">
            <h2 class="text-center">Elige el horario y modalidad que más te acomode</h2>
        </div>

        <form #userForm="ngForm" (ngSubmit)="onSubmit()">

            <div class="container-section-form">

                <div style="width: 100%; margin-left: 10%;">

                    <label class="title-input" for="modalidad"> <b>Modalidad</b> <br>
                        <span>(Seleccione una opcion)</span>
                    </label>

                    <div style="display: grid; grid-template-columns: repeat(2, 1fr); width: 100%; margin-top: 10px;">

                        <div *ngFor="let modalidad of modalidades.data" [ngValue]="modalidad.modalidad" style="width: 100%; margin-right: 10%; margin-top: 10px">
                            <input type="radio" name="modalidad" id="{{modalidad.modalidad}}" value="{{modalidad.modalidad}}" class="visible" [(ngModel)]="user.modalidad">
                            <label for="{{modalidad.modalidad}}">{{modalidad.modalidad}}</label>
                        </div>

                    </div>

                </div>

            </div>

            <div class="container-section-form">

                <div class="container-section-form">

                    <div style="width: 100%; margin-left: 10%;">
    
                        <label class="title-input" for="horario"> <b>Horario</b> <br>
                            <span>(Seleccione una opcion)</span>
                        </label>
    
                        <div style="display: grid; grid-template-columns: repeat(1, 1fr); width: 100%; margin-top: 10px;">

                            <div *ngFor="let horario of horarios.data" [ngValue]="horario.horario" style="width: 100%; margin-right: 10%; margin-top: 10px">
                                <input type="radio" name="horario" id="{{horario.horario}}" value="{{horario.horario}}" class="visible" [(ngModel)]="user.horario">
                                <label for="{{horario.horario}}">{{horario.horario}}</label>
                            </div>
                        
                        </div>
    
                    </div>
    
                </div>

            </div>

            <input type="submit" value="Siguiente" class="btn-next btn-success text-center" style="margin-top: 30px;">
            <a href="#" class="btn-home btn-back text-center">Volver atras</a>

        </form>

    </div>  
    
</div>
