<div class="container-component">

    <div class="container-component-left">
        <app-aside [linkActive]="'Datos personales'"></app-aside>
    </div>

    <div class="container-component-right">

        <div class="text-right"><i class="fas fa-bars icon-menu-aside-right"></i></div>

        <div class="title-component-right">
            <h2 class="text-center">Tus datos personales</h2>
        </div>

        <form #userForm="ngForm" (ngSubmit)="onSubmit()">

            <div class="container-section-form">

                <div class="row-form">

                    <div class="row-form-1-columns">

                        <div>
                            <label class="title-input" for="modalidad"> <b>Nombre completo</b> <br></label>
                            <input type="text" name="nombre" id="nombre" placeholder="Ej: Camila Pérez Sánchez"
                                class="margin-top-10 visible input-datos" [(ngModel)]="user.nombre">
                        </div>

                    </div>

                </div>

            </div>

            <div class="container-section-form">

                <div class="row-form">

                    <div class="row-form-3-columns">

                        <div class="margin-top-10">
                            <label class="title-input" for="dni"> <b>DNI-NIE</b> <br></label>
                            <input type="text" name="dni" id="dni" placeholder="Ej: 51823366M"
                                class="margin-top-10 visible input-datos" [(ngModel)]="user.DNI">
                        </div>

                        <div class="margin-top-10">
                            <label class="title-input" for="movil"> <b>Móvil</b> <br></label>
                            <input type="text" name="movil" id="movil" placeholder="Ej: 613266378"
                                class="margin-top-10 visible input-datos" [(ngModel)]="user.movil">
                        </div>

                        <div class="margin-top-10">
                            <label class="title-input" for="email"> <b>Email</b> <br></label>
                            <input type="text" name="email" id="email" placeholder="Ej: camila@gmail.com"
                                class="margin-top-10 visible input-datos" [(ngModel)]="user.email">
                        </div>

                    </div>

                </div>

            </div>

            <input type="submit" value="Siguiente" class="btn-next btn-success text-center margin-top-button-submit">
            <a [routerLink]="['/tarifa']" [routerLinkActive]="['active']" class="btn-home btn-back text-center">Volver atras</a>

        </form>

    </div>

</div>