<div class="text-right"><i class="fas fa-bars icon-menu"></i></div>

<h1 class="text-center title"><i class="fas fa-warehouse icon-magister"></i>Magister</h1>
<h2 class="text-center subtitle">¡Comencemos con tu matrícula!</h2>

<div class="container-text-home">
    <div>
        <p class="text-center">Para comenzar a especializarte, vamos a realizar una preguntas para darte el mejor servicio</p>
    </div>
</div>

<div class="container-btn text-center">
    <a href="#" class="btn-home btn-success text-center">Comenzar</a>
    <a href="#" class="btn-home btn-back text-center">Volver atras</a>
</div>

