<div class="text-right"><i class="fas fa-bars icon-menu"></i></div>

<h1 class="text-center title"><i class="fas fa-warehouse icon-magister"></i>Magister</h1>
<h2 class="text-center subtitle">¡Gracias! <br> Tu reserva está en proceso</h2>

<div class="container-text-home">
    <div>
        <p class="text-center">La matricula sólo será efectiva una vez se haya recibido el pago por tarjeta o transferencia</p>
    </div>
</div>

<div class="container-btn text-center">
    <a [routerLink]="['/']" [routerLinkActive]="['active']" class="btn-home btn-success text-center">Volver a la home</a>
    <a href="#" class="btn-home btn-back text-center">Volver atras</a>
</div>