<div class="container-aside"> 
    <div class="content-aside">

        <h2 class="text-center title"><i class="fas fa-warehouse icon-magister"></i>Magister</h2>

        <div class="links-aside">
            <p *ngFor="let opcion of opciones; let i = index">
                <i id="icon-active" *ngIf="opcion == linkActive" class="{{icon_active}}"> {{opcion}} </i>
                <i id="icon-default" *ngIf="opcion != linkActive" class="{{icon_default}}"> {{opcion}} </i> 
            </p>
        </div>

    </div> 
</div> 