<div class="container-component">

    <div class="container-component-left">
        <app-aside [linkActive]="'Tarifa'"></app-aside>
    </div>

    <div class="container-component-right">

        <div class="text-right"><i class="fas fa-bars icon-menu-aside-right"></i></div>

        <div class="title-component-right">
            <h2 class="text-center">Seleccion tú tarifa</h2>
        </div>

        <form #userForm="ngForm" (ngSubmit)="onSubmit()">

            <div class="container-section-form">

                <div class="row-form">

                    <label class="title-input" for="horario"> <b>Tarifa</b> <br>
                        <span>(Seleccione una opcion)</span>
                    </label>

                    <div class="row-form-1-columns">

                        <div *ngFor="let tarifa of tarifas.data" [ngValue]="tarifa.tarifa"
                            class="margin-top-10">
                            <input type="radio" name="tarifa" id="{{tarifa.tarifa}}" value="{{tarifa.tarifa}}" class="visible" [(ngModel)]="user.tarifa">
                            <label for="{{tarifa.tarifa}}">{{tarifa.tarifa}}</label>
                        </div>

                    </div>

                </div>

            </div>

            <input type="submit" value="Siguiente" class="btn-next btn-success text-center margin-top-button-submit">
            <a href="#" class="btn-home btn-back text-center">Volver atras</a>

        </form>

    </div>

</div>