<div class="container-component">

    <div class="container-component-left">
        <app-aside [linkActive]="'Forma de pago'"></app-aside>
    </div>

    <div class="container-component-right">

        <div class="text-right"><i class="fas fa-bars icon-menu-aside-right"></i></div>

        <div class="title-component-right">
            <h2 class="text-center">Forma de pago</h2>
        </div>

        <form #userForm="ngForm" (ngSubmit)="onSubmit()">

            <div class="container-section-form">

                <div class="row-form">

                    <label class="title-input" for="modalidad"> <b>Como prefieres abonar tu primer pago</b> <br>

                    </label>

                    <div class="row-form-2-columns margin-bottom-10">

                        <div>
                            <input type="radio" name="forma-pago" id="forma-pago-tarjeta"
                                value="Tarjeta de crédito / débito (recomendado)" class="visible"
                                [(ngModel)]="user.formaPago">
                            <label for="forma-pago-tarjeta">Tarjeta de crédito / débito (recomendado)</label>
                        </div>

                        <div>
                            <input type="radio" name="forma-pago" id="forma-pago-transferencia"
                                value="Transferencia bancaria" class="visible" [(ngModel)]="user.formaPago">
                            <label for="forma-pago-transferencia">Transferencia bancaria</label>
                        </div>


                    </div>

                    <span class="conditions"> <b> Detalles sobre forma de pago y proceso post pago <i
                                class="fas fa-arrow-right"></i></b></span>

                </div>

            </div>

            <div class="row-form margin-top-10">

                <label class="title-input"> <b>¿Vienes recomendado por alguien?</b> <br> </label>

                <br>

                <div class="options margin-bottom-10">

                    <input type="radio" name="recomendacion" id="recomendado-no" value="No" class="visible"
                        [(ngModel)]="user.recomendado">
                    <label for="recomendado-no">No</label>

                    <input type="radio" name="recomendacion" id="recomendado-si" value="Si" class="visible"
                        [(ngModel)]="user.recomendado">
                    <label for="recomendado-si">Sí</label>

                </div>

                <span class="conditions"> <b> Ver información legal <i class="fas fa-arrow-right"></i></b></span>

            </div>


            <input type="submit" value="Enviar" class="btn-next btn-success text-center margin-top-button-submit">
            <a [routerLink]="['/direccion']" [routerLinkActive]="['active']" class="btn-home btn-back text-center">Volver atras</a>

        </form>

    </div>

</div>