<div class="container-component">

    <div class="container-component-left">
        <app-aside [linkActive]="'Dirección'"></app-aside>
    </div>

    <div class="container-component-right">

        <div class="text-right"><i class="fas fa-bars icon-menu-aside-right"></i></div>

        <div class="title-component-right">
            <h2 class="text-center">Tus dirección</h2>
        </div>

        <form #userForm="ngForm" (ngSubmit)="onSubmit()">

            <div class="container-section-form">

                <div class="row-form">

                    <label class="title-input" for="modalidad"> <b>Comunidad de examen</b> <br>
                        <span>(Seleccione una opcion)</span>
                    </label>

                    <div class="row-form-1-columns">

                        <select name="comunidad" ngModel [(ngModel)]="user.comunidadExamen">
                            <option value="" disabled>Ej: Madrid</option>
                            <option *ngFor="let comunidad of comunidades.data" [ngValue]="comunidad.comunidad">
                                {{ comunidad.comunidad }}
                            </option>

                        </select>

                    </div>

                </div>

            </div>

            <div class="container-section-form">

                <div class="row-form">

                    <div class="row-form-1-columns">

                        <div>
                            <label class="title-input" for="direccion"> <b>Dirección</b> <br></label>
                            <input type="text" name="direccion" id="direccion"
                                placeholder="Ej: Calle Ramiro de Matxu, 10, 4D" class="margin-top-10 visible input-direccion"
                                [(ngModel)]="user.direccion">
                        </div>

                    </div>

                </div>

            </div>

            <div class="container-section-form">

                <div class="row-form">

                    <div class="row-form-3-columns">

                        <div class="margin-top-10">
                            <label class="title-input" for="localidad"> <b>Localidad</b> <br></label>
                            <input type="text" name="localidad" id="localidad" placeholder="Ej: Madrid"
                                class="margin-top-10 visible input-direccion" [(ngModel)]="user.localidad">
                        </div>

                        <div class="margin-top-10">
                            <label class="title-input" for="provincia"> <b>Provincia</b> <br></label>
                            <input type="text" name="provincia" id="provincia" placeholder="Ej: Madrid"
                                class="margin-top-10 visible input-direccion" [(ngModel)]="user.provinciaUsuario">
                        </div>

                        <div class="margin-top-10">
                            <label class="title-input" for="codigoPostal"> <b>Código postal</b> <br></label>
                            <input type="text" name="codigoPostal" id="codigoPostal" placeholder="Ej: 28320"
                                class="margin-top-10 visible input-direccion" [(ngModel)]="user.codigoPostal">
                        </div>

                    </div>

                </div>

            </div>

            <div class="container-section-form">

                <div class="row-form">

                    <div class="row-form-2-columns acept-conditions">

                        <div>
                            <input type="checkbox" name="informacion-legal" class="margin-top-5 visible">
                            <label class="title-input" for="informacion-legal"> <b>Acepto la <a href="#">información
                                        legal</a> </b> <br></label>
                        </div>

                        <div>
                            <input type="checkbox" name="proteccion-datos" class="margin-top-5 visible">
                            <label class="title-input" for="proteccion-datos"> <b>Acepto la <a href="#">protección
                                        dedatos</a> </b> <br></label>

                        </div>

                    </div>

                </div>

            </div>


            <input type="submit" value="Siguiente" class="btn-next btn-success text-center margin-top-button-submit">
            <a [routerLink]="['/datos-personales']" [routerLinkActive]="['active']" class="btn-home btn-back text-center">Volver atras</a>

        </form>

    </div>

</div>